Package: com.doc.farbesperre
Name: Farbesperre
Version: 1.0
Architecture: iphoneos-arm
Depends: com.bushe.lockhtml4
Description: Color Apple Watch style clock for LockHTML
Author: Doc <evanyoung62@icloud.com>
Maintainer: Doc <evanyoung62@icloud.com>
Depiction: https://doccodes.github.io/depic/com.doc.farbesperre/
Section: Widgets
