html {
	background: #efeff4;
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
   margin: 80px 0 35px 0;
}
.font-body, body {
   font: 400 16px/1.3em system-ui,BlinkMacSystemFont,-apple-system-font,"Helvetica Neue",sans-serif;
   font: -apple-system-body;
}



h1 {
   font-family: system-ui,BlinkMacSystemFont,-apple-system-font,"Helvetica Neue",sans-serif;
   font-weight: 500;
   font: -apple-system-headline;
}
[role=footer], body > p, h2 {
	margin: 15px;
	color: #6d6d72;
}
.font-subtitle, [role=footer], body > p, h2 {
	font-size: 14px;
	font-weight: 400;
}
article, aside, footer, header, nav, section {
   display: block;
}
body > header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 44px;
   z-index: 10;
   background: rgba(249,249,249,.85);
   border-bottom: 1px solid rgba(0,0,0,.1);
   -webkit-backdrop-filter: blur(20px);
   backdrop-filter: blur(20px);
}
body > header h1 {
   margin: 0;
   text-align: center;
   font-size: 18px;
   line-height: 44px;
}
h2 {
   text-transform: uppercase;
   margin-bottom: 5px;
}
#content {
	display: block;
}
#content > ul {
	margin: 5px 0 35px 0;
	padding: 0;
	list-style: none;
	background: #fff;
}
#content > ul > li:last-child {
	border-bottom: 0;
}
#content > ul > li {
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin-left: 15px;
	padding: 11px 15px 11px 0;
}
#content > ul > li > [role=button], #content > ul > li > [role=link], #content > ul > li > p {
	padding: 11px 15px;
	margin: -11px -15px;
}
.font-bold, b, strong {
	font-family: system-ui,BlinkMacSystemFont,-apple-system-font,"Helvetica Neue",sans-serif;
	font-weight: 600;
}
#content > ul > li > [role=button], #content > ul > li > [role=link], #content > ul > li > p {
	padding: 11px 15px;
	margin: -11px -15px;
}
#content > ul > li > [role=button], #content > ul > li > [role=link] {
	display: block;
	color: #007aff;
	padding-right: 30px;
	position: relative;
	z-index: 2;
}
a, button {
	color: #007aff;
	text-decoration: none;
}
a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
#content > ul > li > [role=button]:after, #content > ul > li > [role=link]:after {
	content: "";
	display: block;
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NSIgaGVpZ2h0PSI5OSI+PHBvbHlnb24gcG9pbnRzPSIzNC43LDQ5LjcgMCw4NC40IDE1LjEsOTkuNSA2NC44LDQ5LjcgNDkuNywzNC43IDE1LjEsMCAwLDE1LjEiIHN0eWxlPSJmaWxsOiNjN2M3Y2MiLz48L3N2Zz4=);
	position: absolute;
	top: 50%;
	right: 15px;
	width: 10px;
	height: 13px;
	margin-top: -7px;
	background-size: 100% 100%;
}
#content > ul:last-child {
	margin: 5px 0px 0px 0px;
}
footer[role="footer"] {
	text-align: center;
}

img.screenshot-image {
	width: 100%;
	max-width: 375px;
	display: block;
	margin: 0 auto;
	border-style: none;
}

@media (min-width: 708px) {
	#content {
		width: 708px;
		margin: 0 auto;
	}
	[role=footer], body > p, h2 {
		margin-left: 0;
		margin-right: 0;
	}
}
@media (min-width: 964px) {
	#content {
		width: 964px;
	}
}
small {
	font-size: 80%;
}