Package: com.doc.wurtsperre
Name: Wurtsperre
Version: 1.2.4
Architecture: iphoneos-arm
Depends: com.bushe.lockhtml4
Description: Word style clock for LockHTML
Author: Doc <evanyoung62@icloud.com>
Maintainer: Doc <evanyoung62@icloud.com>
Depiction: https://doccodes.github.io/depic/com.doc.wurtsperre/
Section: Widgets
