Package: com.doc.dassperre
Name: Daßperre
Version: 1.0.2
Architecture: iphoneos-arm
Depends: com.bushe.lockhtml4
Description: A remake of my favorite GroovyLock theme.
Author: Doc <evanyoung62@icloud.com>
Maintainer: Doc <evanyoung62@icloud.com>
Depiction: https://doccodes.github.io/depic/com.doc.dassperre/
Section: Widgets
